# Ignore the WordPress site contents - you might use a separate Git repository for this.
/html/

# Ignore IDE files.
/.idea/

# Avoid checking in username and password details.
.env

# Working storage.
/temp/
